<a href="https://colab.research.google.com/github/ybrefodlavir/BigData_Final-Project/blob/main/BigData_FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Java Installation

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Apache Spark Installation

In [ ]:
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz

Setting Up Java and Spark Home

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

PySpark Configuration

In [ ]:
!pip install -q findspark

Importing library and make findspark Inizialitation

In [ ]:
import findspark
findspark.init()

Make connection to spark

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
 .master("local")\
 .appName("Colab")\
 .config('spark.ui.port', '4050')\
 .getOrCreate()

Importing data to pySpark

In [ ]:
df = spark.read.format("csv").option("header","True").load("/content/2019.csv")

Analyze the schema

In [ ]:
df.printSchema()

root
 |-- Overall rank: string (nullable = true)
 |-- Country or region: string (nullable = true)
 |-- Score: string (nullable = true)
 |-- GDP per capita: string (nullable = true)
 |-- Social support: string (nullable = true)
 |-- Healthy life expectancy: string (nullable = true)
 |-- Freedom to make life choices: string (nullable = true)
 |-- Generosity: string (nullable = true)
 |-- Perceptions of corruption: string (nullable = true)

Show 10 data

In [ ]:
df.show(10,False)

+------------+-----------------+-----+--------------+--------------+-----------------------+----------------------------+----------+-------------------------+
|Overall rank|Country or region|Score|GDP per capita|Social support|Healthy life expectancy|Freedom to make life choices|Generosity|Perceptions of corruption|
+------------+-----------------+-----+--------------+--------------+-----------------------+----------------------------+----------+-------------------------+
|1           |Finland          |7.769|1.340         |1.587         |0.986                  |0.596                       |0.153     |0.393                    |
|2           |Denmark          |7.600|1.383         |1.573         |0.996                  |0.592                       |0.252     |0.410                    |
|3           |Norway           |7.554|1.488         |1.582         |1.028                  |0.603                       |0.271     |0.341                    |
|4           |Iceland          |7.494|1.380         |1.624         |1.026                  |0.591                       |0.354     |0.118                    |
|5           |Netherlands      |7.488|1.396         |1.522         |0.999                  |0.557                       |0.322     |0.298                    |
|6           |Switzerland      |7.480|1.452         |1.526         |1.052                  |0.572                       |0.263     |0.343                    |
|7           |Sweden           |7.343|1.387         |1.487         |1.009                  |0.574                       |0.267     |0.373                    |
|8           |New Zealand      |7.307|1.303         |1.557         |1.026                  |0.585                       |0.330     |0.380                    |
|9           |Canada           |7.278|1.365         |1.505         |1.039                  |0.584                       |0.285     |0.308                    |
|10          |Austria          |7.246|1.376         |1.475         |1.016                  |0.532                       |0.244     |0.226                    |
+------------+-----------------+-----+--------------+--------------+-----------------------+----------------------------+----------+-------------------------+
only showing top 10 rows

Counting how much data that appears

In [ ]:
df.count()

156

Show 5 data with 3 fields

In [ ]:
df.select("Country or Region", "Score", "Social Support").show(5)

+-----------------+-----+--------------+
|Country or Region|Score|Social Support|
+-----------------+-----+--------------+
|          Finland|7.769|         1.587|
|          Denmark|7.600|         1.573|
|           Norway|7.554|         1.582|
|          Iceland|7.494|         1.624|
|      Netherlands|7.488|         1.522|
+-----------------+-----+--------------+
only showing top 5 rows

Importing col function

In [ ]:
from pyspark.sql.functions import col

Show 10 data with the most GDP per capita

In [ ]:
df.select("Country or Region", "GDP per capita").sort(col("GDP per capita").desc()).show(10,False)

+--------------------+--------------+
|Country or Region   |GDP per capita|
+--------------------+--------------+
|Qatar               |1.684         |
|Luxembourg          |1.609         |
|Singapore           |1.572         |
|United Arab Emirates|1.503         |
|Kuwait              |1.500         |
|Ireland             |1.499         |
|Norway              |1.488         |
|Switzerland         |1.452         |
|Hong Kong           |1.438         |
|United States       |1.433         |
+--------------------+--------------+
only showing top 10 rows